@import "tailwindcss";

@tailwind utilities;

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    @apply max-w-7xl lg:mx-auto md:mx-2 sm:mx-4;
}

@theme {
    --color-dc-blue: #0282f9;
}